.breadcrumb-progress-container {
    border: solid 1px #E6EBEA;
    border-radius: 12px;
    width: 100%;
    height: 12px;
    padding: 2px;
    display: flex;
}

.image-size{
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    height: 50px;

}
h2 .ui-type-subheader{
    float: right;

}
h2 .quiz-container{
    text-align: center;
}