.header-bar{
    background-color:rgb(164, 200, 247);
   color: whitesmoke;
}
.logo-name{
     font-family: "Whitman", "Georgia", serif;
     font-style: normal;
    font-weight: 400;
}
a{
    font-family: 'Noto Serif', serif;
}
