.Footer{
    background-color:rgb(164, 200, 247);
    color:rgb(95, 94, 94);
    text-align: center;
    padding-right: 20px;
    font-family: 'Noto Serif', serif;
    a{
        color:rgb(95, 94, 94);
        font-family: 'Noto Serif', serif;
      text-decoration: none;
    }
    margin-top: 0px;
    padding-bottom: 20px;
  }